h1 {
    color: blue;
}


section {
    width: 50vh;
    height: 8vh;
    border: 1pt solid black;
    display: flex;
    box-sizing: border-box;
    /* pointer-events: none; */
}

article {
    width: 12.5%;
    box-sizing: border-box;
    height: 100%;
    border: 1pt green solid;
    background-color: darkred;
    
}